.inpContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh;
}

.inputs{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 5px;
    flex-direction: column;
}

.inputs input{
    padding: 10px;
}

#submit{
    background-color: #6B818C;
    border: none;
    border-radius: 2px;
    color: #e0e1dd;
    font-family: Montserrat, sans-serif;
    padding: 10px;
    transition: 0.2s;
    cursor: pointer;
}

#submit:hover{
    background-color: #ED3F54;
    color: black;
}
